<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="container container-content">
		<div class="row">
			<div class="col-md-7 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<div class="container-fluid main-padding message">
						<h1 class="txt2">Thông điệp của <span>Chủ tịch HĐQT</span></h1>
						<div class="quote">
							<img src="https://hbcg.vn/img/quote-mark.png">
							<p>Hòa Bình ơi, bao ước mơ hy vọng<br>
								Và đợi mong khát khao đang dâng trào<br>
								Một Việt Nam ngời sáng giữa trời sao<br>
								Hòa Bình ơi, thế giới đang đón chào.</p>
						</div>
						<div class="row">
							<div class="col-sm-12 message-content">
								<p>
									<span class="firstcharacter">L</span> ời kết của bài hát "Hành khúc Hòa Bình" được
									vang
									lên mỗi sáng Thứ Hai trong lễ chào cờ đã làm sục sôi khát vọng chinh phục đỉnh cao
									của
									mỗi thành viên Hòa Bình.
								</p>
								<p>Khởi nghiệp từ năm 1987, trải qua bao thăng trầm chuyển mình của non sông Việt Nam.
									Hòa
									Bình tự hào khi được góp một phần nhỏ vào công cuộc hiện đại hóa đất nước. Suốt dọc
									chiều dài từ Bắc chí Nam, Hòa Bình đã để lại biết bao dấu ấn của mình bằng những
									công
									trình bền vững được dựng xây bởi những bàn tay, khối óc của những con người luôn
									căng
									tràn sức sống.</p>
								<p>Chặng đường nào đi đến vinh quang cũng chứa đầy gian nan, thử thách. Thế nhưng một
									khi ý
									chí, sự quyết tâm đã đủ mạnh; một khi ước mơ, khát vọng đã đủ lớn thì khó khăn, thử
									thách sẽ không còn là trở lực mà biến thành động lực thúc đẩy sự phát triển nhanh
									chóng
									hơn. Đó chính là tinh thần của "Cánh diều ngược gió" đã thấm vào máu thịt của các
									thành
									viên để tạo dựng một Hòa Bình ngày hôm nay. Và trong hành trình dài hơn 1/4 thế kỷ
									Hòa
									Bình đã đi qua, những giá trị Hòa Bình tạo dựng được vẫn mãi trường tồn cùng thời
									gian.
									Những giá trị đó, không chỉ là niềm tự hào của mỗi cán bộ công nhân viên mà còn là
									chữ
									TÍN mà Hòa Bình đã và đang giữ trọn với khách hàng và đối tác của mình.</p>
								<p>Một doanh nghiệp thành công và phát triển bền vững chỉ khi các thành viên đều sẵn
									sàng
									phục vụ cho khách hàng bằng niềm đam mê, lòng yêu nghề và thành tâm cống hiến cho xã
									hội
									với tất cả tài năng cùng lòng nhiệt huyết của mình. Hòa Bình đang bằng tất cả nỗ lực
									và
									quyết tâm, bằng cái tâm và cái tầm của những người dám nghĩ, dám làm, dám đi tiên
									phong
									để biến uớc mơ cháy bỏng "đưa Thương hiệu Quốc gia Hòa Bình trở thành niềm tự hào
									của
									ngành xây dựng Việt Nam trên trường quốc tế" trở thành hiện thực.</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 wthree_banner_bottom_left">
				<div class="video-img data-content-wrapper">
					<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
						<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
					</a>
				</div>

				<div id="small-dialog" class="mfp-hide">
					<iframe src="https://www.youtube.com/embed/ZQa6GUVnbNM"></iframe>
				</div>

			</div>
		</div>
		<div class="row">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Tuyên ngôn giá trị
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="container-fluid main-padding declaration">
				<div class="row">
					<div class="col-sm-4">
						<p class="txt13">HOÀI BÃO</p>
						<p>Hoài bão của chúng tôi là đưa Hòa Bình trở thành một tập đoàn kinh tế uy tín, hùng mạnh và
							đẳng cấp quốc tế, góp phần nâng cao niềm tự hào và giá trị thương hiệu Việt Nam trên toàn
							cầu; từ đó, trở thành một nhân tố tích cực đóng góp cho sự phát triển bền vững của nền kinh
							tế thế giới.</p>
					</div>
					<div class="col-sm-4">
						<p class="txt13">SỨ MỆNH</p>
						<p>Sứ mệnh của Hòa Bình là đem lại sự an tâm và lợi ích cộng hưởng cho khách hàng; kiến tạo một
							xã hội văn minh, phát triển bền vững bằng những sản phẩm, dịch vụ có ưu điểm vượt trội, tiết
							kiệm tài nguyên, thân thiện với môi trường.</p>
					</div>
					<div class="col-sm-4">
						<p class="txt13">TRIẾT LÝ KINH DOANH</p>
						<p>Một doanh nghiệp thành công và phát triển bền vững chỉ khi mọi thành viên đều sẵn sàng phục
							vụ cho khách hàng bằng niềm đam mê, lòng yêu nghề và thành tâm cống hiến cho xã hội với tất
							cả tài năng cùng lòng nhiệt huyết của mình.</p>
					</div>
				</div>
				<div class="row gia-tri-cot-loi">
					<div class="col-sm-6">
						<p class="txt13">7 GIÁ TRỊ CỐT LÕI</p>

						<ul style="padding-left: 20px;">
							<li> ỨNG XỬ VĂN MINH</li>
							<li>HÀNH XỬ CHÍNH TRỰC</li>
							<li>THỰC THI CAM KẾT</li>
							<li>TUÂN THỦ KỶ LUẬT</li>
							<li>TÍCH HỢP TINH HOA</li>
							<li>TÍCH CỰC SÁNG TẠO</li>
							<li>CHỦ ĐỘNG HỢP TÁC</li>
						</ul>
						<img src="https://hbcg.vn/img/gia-tri-cot-loi.png" class="visible-xs">
						<p class="txt15"><span class="firstcharacter">1</span> <span class="txt14">ỨNG XỬ VĂN MINH THEO
								7T</span></p>
						<p><b>TẬN TỤY, TRUNG THÀNH</b> đối với công ty<br>
							<b>TẬN TÌNH, CHU ĐÁO</b> đối với khách hàng<br>
							<b>TỰ TRỌNG, CẦU TIẾN</b> đối với bản thân<br>
							<b>THẤU HIỂU, GƯƠNG MẪU</b> đối với cấp dưới<br>
							<b>TƯƠNG TRỢ, CỘNG TÁC</b> đối với đồng nghiệp<br>
							<b>TÔN KÍNH, PHỤC TÙNG</b> đối với cấp trên<br>
							TRUNG THỰC, KHIÊM TỐN đối với mọi người</p>
					</div>
					<div class="col-sm-6">
						<img src="https://hbcg.vn/img/gia-tri-cot-loi.png" style="width: 70%;" class="hidden-xs">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<p class="txt15"><span class="firstcharacter">2</span> <span class="txt14">HÀNH XỬ CHÍNH TRỰC
								THEO 7 CÔNG</span></p>
						<p><b>CÔNG TÂM</b> trong phân xử<br>
							<b>CÔNG CHÍNH</b> trong thu nhập<br>
							<b>CÔNG BẰNG</b> trong đối đãi<br>
							<b>CÔNG MINH</b> trong thưởng phạt<br>
							<b>CÔNG PHÁP</b> trong hành động<br>
							<b>CÔNG LÝ</b> trong tư duy<br>
							<b>CÔNG KHAI</b> trong tài chính</p>
					</div>
					<div class="col-sm-4">
						<p class="txt15"><span class="firstcharacter">3</span> <span class="txt14">THỰC THI CAM KẾT THEO
								7 ĐÚNG</span></p>
						<p><b>ĐÚNG chất lượng<br>
								<b> ĐÚNG thời gian<br>
									<b>ĐÚNG khối lượng<br>
										<b>ĐÚNG giá trị<br>
											<b>ĐÚNG tiêu chuẩn<br>
												<b>ĐÚNG xuất xứ<br>
													<b>ĐÚNG biện pháp</b></b></b></b></b></b></b></p><b><b><b>
								</b></b></b>
					</div><b><b><b>
								<div class="col-sm-4">
									<p class="txt15"><span class="firstcharacter">4</span> <span class="txt14">TUÂN THỦ
											KỶ LUẬT THEO 7 KHÔNG</span></p>
									<p><b>KHÔNG</b> vi phạm pháp luật<br>
										<b>KHÔNG</b> vi phạm điều lệ<br>
										<b>KHÔNG</b> vi phạm thỏa ước<br>
										<b>KHÔNG</b> vi phạm nội quy<br>
										<b>KHÔNG</b> vi phạm quy chế<br>
										<b>KHÔNG</b> vi phạm quy trình<br>
										<b>KHÔNG</b> vi phạm thuần phong mỹ tục</p>
								</div>
							</b></b></b>
				</div>
				<b><b>
						<div class="row">
							<div class="col-sm-4">
								<p class="txt15"><span class="firstcharacter">5</span> <span class="txt14">Tích hợp tinh
										hoa (6 + 1)</span></p>
								<p>Sáng tạo về Khởi nghiệp<br>
									Sự hiệu quả về Quản trị<br>
									Sự tinh xảo về Công nghệ<br>
									Sự tinh tường về Kỹ năng<br>
									Sự toàn diện về Chất lượng<br>
									Sự thần kỳ về Tốc độ<br>
									Sự kiên cường về Ý chí của người Việt Nam</p>
							</div>
							<div class="col-sm-4">
								<p class="txt15"><span class="firstcharacter">6</span> <span class="txt14">TÍCH CỰC SÁNG
										TẠO THEO 7 LĨNH VỰC</span></p>
								<p>Kỹ thuật<br>
									Công nghệ<br>
									Quản trị<br>
									Kinh doanh<br>
									Văn hóa<br>
									Giáo dục <br>
									Nghệ thuật</p>
							</div>
							<div class="col-sm-4">
								<p class="txt15"><span class="firstcharacter">7</span> <span class="txt14">CHỦ ĐỘNG HỢP
										TÁC THEO 7 YÊU CẦU</span></p>
								<p>Khiêm nhường<br>
									Kiên nhẫn<br>
									Cởi mở<br>
									Chân thành<br>
									Hài hòa<br>
									Thiện chí<br>
									Thủy chung</p>
							</div>
						</div>

					</b></b>
			</div>
		</div>



		<div class="clearfix"> </div>
	</div>
</div>