<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="form" >
          <h1>Đăng nhập</h1>
          <div>
            <input type="text" class="form-control" name="userName" required />
            <div class="help-block">Yêu cầu tên đăng nhập</div>
          </div>
          <div>
            <input type="password" class="form-control" name="password" required />
            <div  class="help-block">Yêu cầu mật khẩu</div>
          </div>
          <div>
            
            <button  class="btn btn-default" href="\portal">Đăng nhập</button>
            
            <a class="reset_pass" href="\portal">Quên mật khẩu</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fa fa-paw"></i> Kamikaze VTPRO!</h1>
              <p>©2016 All Rights Reserved. VTPRO!</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>