
<!-- banner-bottom -->
<div class="banner-index">
	<div class="container container-content">
		<div class="col-md-9 index_banner_right">
			<!-- banner -->
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators-->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1" class=""></li>
					<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					<li data-target="#myCarousel" data-slide-to="3" class=""></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="container">
							<div class="carousel-caption">
								<h3 class="move-up">Big
									<br>
									<span>Save</span>
								</h3>
								<div class="sitemessage">
									<p>Get flat
										<span>10%</span> Cashback</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item item2">
						<div class="container">
							<div class="carousel-caption">
								<h3 class="move-down">Healthy
									<span>Saving</span>
								</h3>
								<div class="sitemessage">
									<p>Get Upto
										<span>30%</span> Off</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item item3">
						<div class="container">
							<div class="carousel-caption">
								<h3 class="move-up">Big
									<span>Deal</span>
								</h3>
								<div class="sitemessage">
									<p>Get Best Offer Upto
										<span>20%</span>
									</p>
								</div>

							</div>
						</div>
					</div>
					<div class="item item4">
						<div class="container">
							<div class="carousel-caption">
								<h3 class="move-down">Today
									<span>Discount</span>
								</h3>
								<p>Get Now
									<span>40%</span> Discount</p>

							</div>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

			<!-- //banner -->

		</div>
		<div class="col-md-3 index_banner_left">
			<div class="video-img-home data-content-wrapper">
				<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
					<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
				</a>
			</div>

			<div id="small-dialog" class="mfp-hide">
				<iframe src="https://www.youtube.com/embed/ZQa6GUVnbNM"></iframe>
			</div>


			<div class="about-index">
				<div class="img-video-index data-content-wrapper">
					<img src="../../assets/images/36.jpg" />
				</div>
				<h4>Grocery Shoppy</h4>
				<p>No.1 Leading E-commerce marketplace with over 70 million Products</p>
			</div>

		</div>

		<div class="clearfix"> </div>
	</div>
</div>
<!-- //banner-bottom -->
<!-- modal-video -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="../../assets/images/3.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>The Best Mobile Phone 3GB</h4>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. </p>
						<div class="rating">
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$380</span> <i class="item_price">$350</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Mobile Phone1">
								<input type="hidden" name="amount" value="350.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="../../assets/images/9.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>Multimedia Home Accessories</h4>
						<p>Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore
							eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia
							deserunt mollit anim id est laborum.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$180</span> <i class="item_price">$150</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Headphones">
								<input type="hidden" name="amount" value="150.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="../../assets/images/11.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>Quad Core Colorful Laptop</h4>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
							occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$880</span> <i class="item_price">$850</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Laptop">
								<input type="hidden" name="amount" value="850.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="../../assets/images/14.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>Cool Single Door Refrigerator </h4>
						<p>Duis aute irure dolor inreprehenderit in voluptate velit esse cillum dolore
							eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$950</span> <i class="item_price">$820</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Mobile Phone1">
								<input type="hidden" name="amount" value="820.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="../../assets/images/17.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>New Model Mixer Grinder</h4>
						<p>Excepteur sint occaecat laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore
							eu fugiat nulla pariatur cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$460</span> <i class="item_price">$450</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Mobile Phone1">
								<input type="hidden" name="amount" value="450.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="../../assets/images/36.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>Dry Vacuum Cleaner</h4>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$960</span> <i class="item_price">$920</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Vacuum Cleaner">
								<input type="hidden" name="amount" value="920.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="../../assets/images/37.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>Kitchen & Dining Accessories</h4>
						<p>Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore
							eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia
							deserunt mollit anim id est laborum.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="../../assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$280</span> <i class="item_price">$250</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Induction Stove">
								<input type="hidden" name="amount" value="250.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- //modal-video -->